<script setup lang="ts">
import DeclarativeREndering from './components/DeclarativeRendering.vue'
import AttributeBindings from './components/AttributeBindings.vue'
import EventListeners from './components/EventListeners.vue'
import FormBindings from './components/FormBindings.vue'
import ConditionalRenderring from './components/ConditionalRendering.vue'
import ListRendering from './components/ListRendering.vue';
</script>
<template>
  <h1>Hello World</h1>.
  <DeclarativeREndering/>
  <AttributeBindings/>
  <EventListeners/>
  <FormBindings/>
  <ConditionalRenderring />
  <ListRendering />
</template>